<!DOCTYPE html>
<html lang="ko">
<head>
  <title>대전시</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="assets/favicon.png">
  <style>
@charset "utf-8";

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@keyframes scale {
  100% {transform: scale(110%);}
}

#wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.none {
  display: none;
}

* {
  text-decoration: none;
  font-family: 'SUITE-Regular';
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

a {
  color: aliceblue;
}

#logo {
  max-height: 50px;
  margin-left: 32px;
  float: left;
}

#open-info {
  margin-right: 32px;
  cursor: pointer;
}

header {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}

section {
  display: block;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  position: sticky;
  margin : 0 auto;
  overflow: hidden;
}

.page {
  top: 5%;
  width: 100%;
  height: inherit;
  overflow: hidden;
  font-size: 2.5em;
  position: relative;
  align-items: center;
  text-align: center;
}

.table-wrapper{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
  padding-top: 10%;
  font-size: 18px;
  background: linear-gradient(135deg, rgba(0, 0, 179, 0.3), rgba(86, 86, 255, 0.8));
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

th {
  height: 60px;
}

td {
  height: 70px;
}

textarea {
  resize: none;
}

caption {
  padding-top: 2%;
  font-size: 26px;
}

.memo {cursor: text;}
.memo:hover {color: greenyellow;}
#memoSel {display: none; background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4)); position: absolute; width: 200px; height: 100px;}
#memoSel > * {float: left;}
#cancle {float: right; color: black; width: 24px; cursor: pointer;}
#cancle:hover {background-color: red;}
#selContent {margin-left: 5px; margin-top: 2px;}

.info {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 400px;
  height: 500px;
  box-sizing: border-box;
  font-size: 18px;
  background: linear-gradient(135deg, rgba(0, 0, 179, 0.3), rgba(86, 86, 255, 0.8));
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
#info-cancle {text-align: center; float: right; color: black; width: 24px; cursor: pointer; margin-top: 20px; margin-right: 20px;}
#info-cancle:hover {background-color: red;}
#imgHolder {width: 100px; background-color: darkgray; height: 100px; border-radius: 50%; margin-bottom: 10px;}
.img-wrapper {width: 380px; height: 130px; margin-left: 20px; margin-top: 20px;}
.info-wrapper {margin-top: 10px; width: 380px; height: 40px; margin-left: 20px;}
.info-wrapper > * {float: left;}
#user-name {font-size: 27px;}
.interact-wrapper {margin-top: 50px; width: 400px; height: 80px; display: flex; justify-content: center;}
.interact-wrapper > * {width: 80px; height: 25px; text-align: center; color: white; cursor: pointer;}
#logout {background: linear-gradient(135deg, rgb(255, 66, 66), rgb(120, 0, 0));}
#resign {margin-left: 20px; background: linear-gradient(135deg, rgb(120, 0, 0), rgb(0, 0, 0));}
.interact-wrapper > *:hover {animation-name: scale; animation-duration: 0.5s; animation-fill-mode: forwards;}

@media screen and (max-width: 312px) {
  .none {display: block;}
  #wrap {display: none;}
}

@media screen and (min-width: 500px) {
  .table-wrapper {width: 400px;}
}
  </style>
</head>
<body>
  <div class="none">
    <h1>이런!</h1>
    <h2>매우 특이한 스크린을 사용하는 것을 감지했습니다.</h2>
    <h4>크기를 정상적으로 바꿔주세요.</h4>
  </div>
  <div id="wrap">
    <header>
      <a href="/"><img id="logo" src="/assets/logo.png"></a>
      <p id="open-info">내 정보</p>
    </header>
    <section>
      <div class="info">
        <div id="info-cancle">X</div>
        <div class="img-wrapper">
          <div id="imgHolder">
            <img src="/assets/userpic.png" width="100px" alt="user-img">
          </div>
          <h1 id="user-name"><%= username %>님</h1>
        </div>
        <div class="info-wrapper">
          <h2 id="user-state">학생</h2><br>
          <h2 id="user-id">ID : <%= stduentID %></h2>
        </div>
        <div class="interact-wrapper">
          <div id="logout" onclick="location.href='/api/mypage/logout'">
            <h4>로그아웃</h4>
          </div>
          <div id="resign" onclick="if (confirm('정말 삭제하시겠습니까?')) {location.href='/api/mypage/account-delete'}">
            <h4>탈퇴</h4>
          </div>
        </div>
      </div>
      <div class="page">
        <div class="table-wrapper">
          <table>
            <caption><b><%= userSector %>학년 <%= userRoom %>반의
              <br>오늘의 시간표</b></caption>
            <thead>
              <tr>
                <th width="80px">교시</th>
                <th width="60px">과목</th>
                <th width="140px">전달사항</th>
                <th width="120px">메모</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1교시</td>
                <td><%= q1st %></td>
                <td>기악수행평가 실시</td>
                <td class="memo" onclick="sel(0)">NaN</td>
              </tr>
              <tr>
                <td>2교시</td>
                <td><%= q2st %></td>
                <td>기악수행평가 실시</td>
                <td class="memo" onclick="sel(1)">NaN</td>
              </tr>
              <tr>
                <td>3교시</td>
                <td><%= q3st %></td>
                <td>기악수행평가 실시</td>
                <td class="memo" onclick="sel(2)">NaN</td>
              </tr>
              <tr>
                <td>4교시</td>
                <td><%= q4st %></td>
                <td>기악수행평가 실시</td>
                <td class="memo" onclick="sel(3)">NaN</td>
              </tr>
              <tr>
                <td>5교시</td>
                <td><%= q5st %></td>
                <td>없음</td>
                <td class="memo" onclick="sel(4)">NaN</td>
              </tr>
            </tbody>
        </div>
      </div>
      <div id="memoSel">
        <div id="cancle" onclick="cancle()">X</div>
        <div id="selContent">
          <input id="title" type="text" oninput="update()" size="20" placeholder="제목">
          <br>
          <textarea id="info" oninput="update()" placeholder="내용" cols="19" rows="4"></textarea>
        </div>
      </div>
    </section>
  </div>
  <script>
// api요청 망함

// 메모
let memoView = document.getElementsByClassName("memo");
let memoTitle = document.getElementById("title");
let memoSel = document.getElementById("memoSel");
let memoInfo = document.getElementById("info");
// 페이지
let myInfo = document.getElementsByClassName("info")[0];
let page = document.getElementsByClassName("page")[0];
// 메모 팝업 필드
var select = -1;
var memoData = [["음악최고", ""], ["음악최고음악최고", ""], ["음악최고음악최고음악최고", ""], ["음악최고음악최고음악최고음악최고", ""], ["오늘은 의무귀가", ""]]

// element display id로 변경 
const show = (id) => {
  document.getElementById(id).style.display = "block";
}
const hide = (id) => {
  document.getElementById(id).style.display = "none";
}

// 로직 변경 필요
const loadMemo = () => {
  var temp;
  for (var i = 0; i < 5; i++){
    temp = memoData[i][0];
    if (memoData[i][0].length > 14){
      temp = memoData[i][0].slice(0,12)+"...";
    }
    memoView[i].innerHTML = temp;
  }
}
// 메모 요소 클릭 이벤트
const sel = (n) => {
  select = n;
  memoTitle.value = memoData[select][0];
  memoInfo.value = memoData[select][1];
  show("memoSel");
}
// 메모 닫기 버튼 클릭 이벤트
const cancle = () => {
  hide("memoSel");
  loadMemo();
}
// 메모 내용 반영
function update(){
  memoData[select][0] = memoTitle.value;
  memoData[select][1] = memoInfo.value;
}
// 로직 변경 필요
document.addEventListener("mousemove", function(e){
  if (memoSel.style.display == "none"){
    memoSel.style.left = (e.clientX-200) + "px";
    memoSel.style.top = (e.clientY-100) + "px";
  }
});
// info 열기
document.getElementById("open-info").addEventListener("mousedown", function(e){
  page.style.display = "none";
  myInfo.style.display = "block";
});
// info 닫기
document.getElementById("info-cancle").addEventListener("mousedown", function(e){
  myInfo.style.display = "none";
  page.style.display = "block";
});

// 더미데이터 로드
loadMemo();
  </script>
</body>
